body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #fcfcfc; /* Цвет фона веб-страницы */
    color: #0410ff; /* Цвет основного текста */ 
}
h1 {
    color: #f60c0c; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
